<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      Come join this ride: <%= link_to ride.name, ride %>.<br>
    </p>
    <p>
      Thanks,
    </p>
    <p><%= @ride.user.%></p>
  </body>
</html>